{{/* Language switcher - Always show all available languages in native names */}}
{{ if .Site.IsMultiLingual }}
<ul class="pl0 mr3">
  {{ $currentLang := .Language.Lang }}
  {{ range .Site.Languages }}
    {{ $isCurrent := eq $currentLang .Lang }}
    <li class="list f5 f4-ns dib pr3 {{ if $isCurrent }}fw6{{ else }}fw4{{ end }}">
      {{ if $isCurrent }}
        {{/* Current language - bold white */}}
        <span class="white no-underline">{{ .LanguageName }}</span>
      {{ else }}
        {{/* Other languages - clickable, semi-transparent */}}
        {{ if eq .Lang "en" }}
          <a class="hover-white white-70 no-underline" href="/" title="{{ .LanguageName }}">{{ .LanguageName }}</a>
        {{ else }}
          <a class="hover-white white-70 no-underline" href="/{{ .Lang }}/" title="{{ .LanguageName }}">{{ .LanguageName }}</a>
        {{ end }}
      {{ end }}
    </li>
  {{ end }}
</ul>
{{ end }}
