{{/* Language switcher - Always show all available languages */}}
{{ if .Site.IsMultiLingual }}
<div class="language-switcher {{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
  <ul class="list flex flex-wrap ma0 pa0">
    {{ range $.Site.Languages }}
    {{ $isCurrentLang := compare.Eq $.Language.Lang .Lang }}
    <li class="f6 f5-ns fw4 dib {{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
      {{ if $isCurrentLang }}
        {{/* Current language - highlighted */}}
        <span class="white fw6 no-underline">{{ .LanguageName }}</span>
      {{ else }}
        {{/* Other languages - clickable */}}
        <a class="hover-white white-70 no-underline" href="{{ .Permalink }}" title="{{ .LanguageName }}">
          {{ .LanguageName }}
        </a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
